<div id="buttonList">
    <button (click)="openRegisterPerson()">Chip anlegen</button>
    <button (click)="openRechargeChip()">Chip aufladen</button>
    <button (click)="openInfos()">Alle Infos</button>
    <button id="open" (click)="open()">Öffnen</button>
    <button id="logout" (click)="logout()">Ausloggen</button>
</div>

<app-register-person *ngIf="showRegisterPerson" (closeEvent)="close()" (submitNewPersonEvent)="submitNewPerson($event)"></app-register-person>

<app-recharge-chip *ngIf="showRechargeChip" (closeEvent)="close()" (submitBalanceEvent)="submitNewBalance($event)"></app-recharge-chip>

<app-all-infos *ngIf="showAllInfos" (closeEvent)="close()"></app-all-infos>