:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;

    div#customer {
        height: 60px;
        font-size: 50px;
        padding: 5px;
        background-color: orange;
        display: flex;

        div {
            flex: 1 1 auto;
        }
    }

    div#listWrapper {
        display: flex;
        align-items: stretch;
        flex: 1 1 auto;
        overflow: hidden;

        .listButton {
            display: block;
            height: 50px;
            width: 100%;
            font-size: 40px;
            border: none;
            background: none;
            text-align: left;
        }

        div#availableList {
            flex: 1 0 50%;
            overflow: auto;
            border-right: solid black 1px;
        }

        div#shoppingCartList {
            flex: 1 0 50%;
            overflow: auto;
            border-left: solid black 1px;
        }
    }

    div#buttonWrapper {
        display: flex;
        align-items: end;

        button {
            flex: 1 1 50%;
            height: 50px;
            font-size: 40px;
            border: solid;
            border-radius: 5px;

            &#logout {
                background: red;
                border-color: darkred;
            }

            &#admin {
                background: yellow;
                border-color: orange;
            }

            &#buy {
                background: greenyellow;
                border-color: green;
            }
        }
    }

    #balanceTooLow {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 60px;
        color: red;
        background-color: white;
    }
}