<div>Welchen Chip möchtest du Aufladen?</div>
<input id="rfidInput" ngDefaultControl [(ngModel)]="rfid" (keyup.enter)="inputEvent()" (blur)="inputEvent()"
    placeholder="RFID - antippen und danach Chip an Reader halten" />


<input *ngIf="!!person" id="balanceInput" ngDefaultControl [(ngModel)]="newBalance"
    placeholder="neues Guthaben (wird auf das Bisherige aufaddiert)" />

<button *ngIf="!!person" id="submitNewBalance" (click)="submitNewBalance()"
    [disabled]="!newBalance">Fertig</button>